* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bgnav {
  background-color: #4fe49e;
}

.navbar-brand {
  text-shadow: 0 0 5px black;
  display: flex;
  align-items: center;
  padding: 5px;
}

.nav-link {
  color: #7B8352 !important;
  font-weight: bold;
}

.navbar-brand::before {
  content: url(../img/logo80.jpg);
  margin-right: 15px;
}

.nav-item a:hover {
  transform: scale(1.25);
  transition: all 0.3s;
  color: white !important;
}

.row.formulario {
  background-image: url(../img/Contacto.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  padding-left: 20px;
  opacity: 0.75;
}

.contenidoform {
  padding: 10px;
  opacity: 1;
  color: black;
  font-size: 18px;
  text-shadow: 0px 0px 2px black;
}

.container-fluid {
  padding: 0px;
  width: auto;
}
.container-fluid h1.titulo {
  color: #7B8352;
  background-color: #4fe49e;
  background-image: linear-gradient(180deg, #4fe49e 0%, #eef79f 82%);
  padding-bottom: 10px;
  padding-top: 0px;
  margin: 0px;
  text-align: center;
}
.container-fluid .carousel {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.container-fluid .carousel-item {
  text-align: center;
  height: 500px;
}
.container-fluid .carousel-item img {
  opacity: 0.85;
}
.container-fluid .carousel-item .carousel-caption h2 {
  color: white;
  text-shadow: 0 0 10px black;
  letter-spacing: 2px;
}
.container-fluid .carousel-control-prev-icon, .container-fluid .carousel-control-next-icon {
  background-color: #7B8352;
}
.container-fluid aside {
  padding: 20px;
}

.row {
  background-color: #eef79f;
  padding-left: 20px;
  margin-right: 0px;
  margin-left: 0px;
}
.row .nar1 {
  background-image: url(../img/aldi.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}
.row .nar3 {
  background-image: url(../img/mati.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}
.row .nmd2 {
  background-image: url(../img/timo.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}
.row .ar {
  background-image: url(../img/nosotros.jpg);
  height: 375px;
  background-size: cover;
  background-position: center;
}
.row .al {
  background-color: #eef79f;
}
.row .al .btn-info {
  background-color: #4fe49e;
  color: #7B8352;
  border-color: #4fe49e;
  font-weight: 600;
}
.row .al .btn-info:hover {
  background-color: #7B8352;
  color: #4fe49e;
  border-color: #7B8352;
}
.row .al h3 {
  margin: 20px;
  text-align: center;
  color: #7B8352;
}
.row .col-sm-6.col-md-3.col-lg-3 {
  padding: 30px;
  background-size: cover;
  background-position: center;
  text-align: start;
}
.row .cafeimg {
  background-image: url(../img/img_4.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-bottom: 25px;
}
.row .frioimg {
  background-image: url(../img/cafe-frio.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-bottom: 25px;
}
.row .extraimg {
  background-image: url(../img/leche-almendra.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-bottom: 25px;
}
.row .teimg {
  background-image: url(../img/te-hebras.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-bottom: 25px;
}
.row .tiendaimg {
  background-image: url(../img/coffee-beans-917613_960_720.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-bottom: 25px;
}
.row .porcionimg {
  background-image: url(../img/lemon-pie.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-bottom: 25px;
}
.row .panaderiaimg {
  background-image: url(../img/medialuna.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-bottom: 25px;
}
.row .pasteleriaimg {
  background-image: url(../img/alfajor.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-bottom: 25px;
}
.row .cuadradosimg {
  background-image: url(../img/pastafrola.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-bottom: 25px;
}
.row .meriendaimg {
  background-image: url(../img/merienda.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-bottom: 25px;
}
.row .combosimg {
  background-image: url(../img/img_9.jpg);
  height: 280px;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
}
.row .combos {
  padding: 25px;
  background-size: cover;
  background-position: center;
}
.row .apto {
  height: 20px;
}
.row .logoapto {
  padding: 10px;
}
.row .aptoimg {
  display: inline-block;
}
.row .col-sm-12.col-md-4.col-lg-4 {
  text-align: center;
  color: #7B8352;
}
.row .col-sm-12.col-md-4.col-lg-4 .txtsuc {
  display: inline-block;
}

.titulo {
  background-color: #4fe49e;
  color: #7B8352;
  background-image: linear-gradient(180deg, #4fe49e 0%, #eef79f 82%);
  margin: 0px;
  display: flex;
  justify-content: center;
  padding: 15px;
  text-shadow: 0 0 2px black;
}

h2.nosotros {
  background-color: #eef79f;
  background-image: linear-gradient(180deg, #eef79f 0%, #4fe49e 34%, #4fe49e 60%, #eef79f 100%);
  color: #7B8352;
  text-align: center;
  text-shadow: 0 0 2px black;
  margin: 0px;
}

footer {
  background-color: #eef79f;
  background-image: linear-gradient(180deg, #eef79f 0%, #4fe49e 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "trabaja copy redes";
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: #7B8352;
}
footer .trabaja {
  display: inline-block;
  grid-area: trabaja;
}
footer .redes {
  grid-area: redes;
  text-align: right;
  font-size: 30px;
  letter-spacing: 10px;
}
footer .redes a {
  color: #7B8352;
}
footer .redes .fb :hover {
  transform: scale(1.25);
  transition: all 0.3s;
  color: #4267B2;
}
footer .redes .ig :hover {
  transform: scale(1.25);
  transition: all 0.3s;
  color: #C13584;
}
footer .redes .wsp :hover {
  transform: scale(1.25);
  transition: all 0.3s;
  color: #25D366;
}
footer .copy {
  grid-area: copy;
  place-self: center;
  font-weight: bold;
  padding-left: 15px;
}

@media only screen and (min-width: 404px) and (max-width: 500px) {
  .copy {
    font-size: 14px;
    padding-left: 20px;
  }
  .trabaja {
    font-size: 14px;
  }
  .trabaja h4 {
    font-size: 16px;
  }
  .redes {
    font-size: 20px;
    padding-left: 5px;
  }
  .carousel-item {
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (min-width: 250px) and (max-width: 403px) {
  .copy {
    font-size: 14px;
    padding-left: 20px;
  }
  .trabaja {
    font-size: 14px;
  }
  .trabaja h4 {
    font-size: 16px;
  }
  .redes {
    font-size: 20px;
    padding-right: 0px;
    margin-right: 0px;
  }
}/*# sourceMappingURL=estilos.css.map */